[submodule "screeps-steamless-client"]
	path = screeps-steamless-client
	url = https://github.com/laverdet/screeps-steamless-client
[submodule "screepsmod-auth"]
	path = screepsmod-auth
	url = https://github.com/ScreepsMods/screepsmod-auth
[submodule "xxscreeps"]
	path = xxscreeps
	url = https://github.com/laverdet/xxscreeps/
[submodule "screeps"]
	path = screeps
	url = https://github.com/screeps/screeps.git
[submodule "tutorial-scripts"]
	path = tutorial-scripts
	url = https://github.com/screeps/tutorial-scripts
[submodule "docs"]
	path = docs
	url = https://github.com/screeps/docs
